*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../Home-Page/img/bg.jpg);
}
h1{
    color: red;
    text-decoration: dashed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: 2rem;
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
  }
.cell{
    height: 8rem;
    width: 8rem;
    border: 3px solid red;
    cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.board .cross{
    cursor:not-allowed;
}
.circle, .cross{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board .circle{
    cursor:not-allowed;
}
.circle img{
    width: 80%;
}
.cross img{
    width: 80%;
}
.instructions{
    text-align: center;
    font-size:3rem;
    padding: 2rem;
    color: red;
}
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  .winning-message .msg{
    padding: 3rem;
  }
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: .5rem .5rem;
    cursor: pointer;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }